<!DOCTYPE html>
<html>

<head>
  <title>SEI Student Fun Facts</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">PostMit</a>
        <!-- Add login UI here -->
        <ul class="right">
          <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div id="students" class="col s6 offset-s3">
        <% students.forEach(function(student) { %>
          <div class="card">
            <div class="card-content white-text">
              <% if (student.avatar) { %>
                <img src="<%= student.avatar %>" alt="" class="circle responsive-img">
              <% } else { %>
                <i class="small material-icons">perm_identity</i>
              <% } %>
              <div>
                <span class="card-title">
                  <h2>Post Title</h2>
                </span>
              </div>
              <p class="post">as;ldfja;lsdjfa;lsdjf;alskdjf;alsdjg;alsdjf;a lsdfjas ;ldfjas d;lfj asd;lfja sd;lfjas d;flja sd;</p>
            <!-- Add Dynamic UI form below this line -->
            <% if (student._id.equals(user && user._id)) { %>
              <div class="card-action">
                <form action="/facts" method="POST">
                  <input type="text" name="text" class="white-text">
                  <button type="submit" class="btn white-text">Add Fact</button>
                </form>
              </div>
            <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>