<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  hello <%= user.name %>
  <a href="/logout">logout</a>
  <form action="/post" method="POST">
    <input type="text" placeholder="Create post" name="post">
    <button type="submit">Post</button>
  </form>
  <div class="posts">
    <% user.post.forEach(e => { %>
      <p><%= e.post %></p>
    <% }) %>
  </div>
</body>
</html>